


.bg{
  position: absolute;
    background-image: url('./../../assets/bg_banner.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  width:100%;
  height: 18%;
  display: flex;
  justify-content: center;



}
.nav--content{

  width: 46%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--content>a{

text-decoration: none;
color:white;
font-size: 120%;

}
.nav--content>a img{
  width:120%;

}
.nav--mobile{
display: none;
}
.nav--mobile--menu{
width: 100%;
height: 40%;
top:0;
position: absolute;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items:  center;
background-color: #292d2f;
z-index: 1;
}
.nav--mobile--menu>a{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
}

.main{
  width:100%;
  height: 82%;
  top:18%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main--content{
  height:60%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;



}
.main--content>p{
  font-family: 'Lobster', cursive;
  font-size: 500%;
  color: white;
}
.button{
  width:265px;
  height: 50px;
  background-color: #ddbe5c;
  color: white;
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120%;
  font-weight: bold;
}
footer{
  height: 6%;
  width: 100%;
  position: absolute;
  background-color: black;
  filter: opacity(0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-self: center;

}
.footer--content{
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  height:100%;
  color: white;

}
.footer--content--center{
  display: flex;
  justify-content: space-between;
  align-self: center;

  letter-spacing: 3px;
  margin-right: 3%;

}
.footer--content--center>p{
  margin: 5px;
}
.footer--content--right{
  display: flex;
  justify-content: space-between;
  align-self: center;




}
.footer--content--right>p{
  margin-left: 5px;
}
.footer--content--right>p:nth-child(2){
  font-weight: bold;
}





.showOff{
  display: none;
}
.popup--bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  filter: opacity(0.8);
  display: block;

  z-index: 1;
}
.popup{
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.popup--box{
  width: 400px;
  height: 350px;
  background-color: white;
  display: flex;

  justify-content: center;
  align-items: center;
}

.popup--box--content{
  width:80%;
  height: 80%;
  flex-direction: column;

  display: flex;

  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #292d2f;
}
.popup--box--content>form{
  width:80%;
  height: 100%;
  flex-direction: column;

  display: flex;

  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #858889;
  text-decoration: none;


}
.popup--box--content>form input{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #292d2f;
  width: 100%;
  margin-top: 20px;
  text-align: center;

}


.popup--box--content--click{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #292d2f;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  border: none;
  height: 100px;
  background-color: #ddbe5c;
  border-radius: 25px;
  color: white;


}

.popup--box--content>p{
  font-size: 150%;
}
.popup--box--content>form:last-child{
  font-size: 80%;
}
@media only screen  and (max-width : 1600px) {
  .main--content{
    height:80%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;



  }
  .main--content>p{
    font-family: 'Lobster', cursive;
    font-size: 450%;
    color: white;
  }


}


@media only screen  and (max-width : 1280px) {

  .main--content{
    height:80%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;



  }
  .main--content>p{
    font-family: 'Lobster', cursive;
    font-size: 400%;
    color: white;
  }
  .nav--content{

    width: 60%;

  }
  .footer--content{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    height:100%;
    color: white;
    font-size: 80%;

  }

}


@media only screen  and (max-width : 1024px) {
  .main--content{
    height:90%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;



  }
  .main--content>p{
    font-family: 'Lobster', cursive;
    font-size: 400%;
    color: white;
  }
  .nav--content{

    width: 70%;

  }
  .footer--content{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    height:100%;
    color: white;
    font-size: 50%;

  }


}
@media only screen  and (max-width : 800px) {
  .main--content{
    height:90%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;



  }
  .main--content>p{
    font-family: 'Lobster', cursive;
    font-size: 300%;
    color: white;
  }
  .nav--content{

    width: 70%;

  }




.nav--content>a{

text-decoration: none;
color:white;
font-size: 80%;

}
.nav--content>a img{
  width:80%;
  margin-left: 15%;

}


}
@media only screen  and (max-width : 640px) {
  .popup--box--content>form:last-child{
    font-size: 65%;
  }
  .main--content{
    height:90%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;



  }
  .main--content>p{
    font-family: 'Lobster', cursive;
    font-size: 200%;
    color: white;
  }

  .button{
    width:160px;
    height: 30px;
    background-color: #ddbe5c;
    color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70%;
    font-weight: bold;
  }
  .nav--content{

    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav--content>a{

  text-decoration: none;
  color:white;
  font-size: 80%;

  }
  .nav--content>a img{
    width:80%;

  }
  .footer--content{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    height:100%;
    color: white;
    font-size: 40%;

  }


.popup{
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.popup--box{
  width: 250px;
  height: 300px;
  background-color: white;
  display: flex;

  justify-content: center;
  align-items: center;
}

.popup--box--content{
  width:80%;
  height: 80%;
  flex-direction: column;

  display: flex;

  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #292d2f;
}

.popup--box--content>form{
  width:80%;
  height: 100%;
  flex-direction: column;

  display: flex;

  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #858889;
  text-decoration: none;



}


.popup--box--content>form input{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #292d2f;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 70%;


}

.popup--box--content--click{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #292d2f;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  border: none;
  height: 500px;
  background-color: #ddbe5c;
  border-radius: 25px;
  color: white;


}
.popup--box--content>p{
  font-size: 90%;
}

}
@media only screen  and (max-width : 480px) {
  .main--content{
    height:90%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;



  }
  .main--content>p{
    font-family: 'Lobster', cursive;
    font-size: 130%;
    color: white;
  }

  .button{
    width:160px;
    height: 30px;
    background-color: #ddbe5c;
    color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70%;
    font-weight: bold;
  }
  .nav--content{

    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav--content>a{

  text-decoration: none;
  color:white;
  font-size: 50%;

  }
  .nav--content>a img{
    width:50%;
    margin-left: 25%;

  }

  .footer--content{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    height:100%;
    color: white;
    font-size: 20%;

  }
}

@media only screen and (min-width : 320px)  and (max-width : 480px) and (orientation : portrait){
  .popup--box{
    width: 250px;
    height: 250px;
    background-color: white;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .popup--box--content>form:last-child{
    font-size: 60%;
  }

  .nav--mobile{
    width: 46%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav--mobile>a img{
    width:100%;


  }

  .main--content{
    height:50%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;



  }
  .main--content>p{
    font-family: 'Lobster', cursive;
    font-size: 160%;
    color: white;
  }

  .nav--content{

    display: none;
  }



  footer{
    height: 6%;
    width: 100%;
    position: absolute;
    background-color: black;
    filter: opacity(0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 40%;

  }
  .footer--content{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height:100%;
    color: white;

  }
  .footer--content--center{
    display: flex;
    justify-content: space-between;
    align-self: center;

    letter-spacing: 3px;
    margin-right: 3%;

  }
  .footer--content--center>p{
    margin: 5px;
  }
  .footer--content--right{
    display: flex;
    justify-content: space-between;
    align-self: center;




  }
  .footer--content--right>p{
    margin-left: 5px;
  }
  .footer--content--right>p:nth-child(2){
    font-weight: bold;
  }


}
