<div class="bg"></div>

<div class="showOff" [ngClass]="{'popup--bg': showPopUp===true}"></div>
<div class="showOff" [ngClass]="{'popup': showPopUp===true}">
  <div class="popup--box">

    <div class="popup--box--content">

      <p>Are you a Mountain Knight?</p>
      <form (ngSubmit)="logPost()">
        <input [(ngModel)]="email" type="text" id="email" name="email"placeholder="Email"><br>

        <input [(ngModel)]="psw" type="password" id="psw" name="psw" placeholder="Password"><br>
        <button type="submit" class="popup--box--content--click" >Submit</button>

        <p>{{feedback}}</p>
      </form>


    </div>
  </div>
</div>

<div class="nav--mobile--menu" [ngClass]="{'showOff': showMobileMenu === false}">
  <a href="#">ABOUT</a>
  <a href="#">OFFER</a>

  <a href="#">GALERY</a>
  <a href="#">CONTACT</a>
</div>

<nav>
  <div class="nav--content">
    <a href="#">ABOUT</a>
    <a href="#">OFFER</a>
    <a href="#"><img src="./../../assets/logo.png"></a>
    <a href="#">GALERY</a>
    <a href="#">CONTACT</a>
  </div>


  <div class="nav--mobile" (click)="showMenufun()">

    <a><img src="./../../assets/logo.png"></a>

  </div>


</nav>

<div class="main" (click)="hideMenuFun()">
  <div class="main--content">
    <p>Mountain kingdom</p>
    <a class="button" (click)="showPopFun()">ENTER THE GATES</a>
  </div>
</div>
<footer>

  <div class="footer--content">
    <p>© 2019 MOUNTAIN KINGDOM</p>
    <div class="footer--content--center">
      <p>Cookies</p>
      <p>|</p>
      <p>Privacy</p>
    </div>
    <div class="footer--content--right">
      <p>Design by</p>
      <p>Wizard of Oz</p>
    </div>
  </div>

</footer>
