/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
  height: 100%;

  margin: 0;

}
